<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:name="jp.juggler.fadownloader.App1"
                 tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        >
        <provider
            android:name="jp.juggler.fadownloader.table.DataProvider"
            android:authorities="jp.juggler.fadownloader.data"
            android:exported="false"
            />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="jp.juggler.fadownloader.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

    </application>
</manifest>