<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:name="jp.juggler.fadownloader.App1">
        <provider
            android:name="jp.juggler.fadownloader.DataProvider"
            android:authorities="jp.juggler.kpdownloader.data.dev"
            android:exported="false"
            />
    </application>
</manifest>