<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="jp.juggler.fadownloader"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name="jp.juggler.fadownloader.App1"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        >

        <service
            android:name="jp.juggler.fadownloader.DownloadService"
            android:exported="false"
            />

        <service
            android:name="jp.juggler.fadownloader.NewFileService"
            />

        <receiver
            android:name="jp.juggler.fadownloader.NewFileWidget"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_file_widget"
                />
        </receiver>

        <receiver
            android:name="jp.juggler.fadownloader.Receiver1"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>


        <activity
            android:name="jp.juggler.fadownloader.ActMain"
            android:icon="@mipmap/ic_launcher"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="jp.juggler.fadownloader.FolderPicker"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/folder_picker"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            />
        <activity
            android:name="jp.juggler.fadownloader.SSIDPicker"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/ssid_picker"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            />
    </application>

</manifest>